.page-content-bet {
  display: flex;
}

.photos-container {
  width: 70%;
  display: flex;
  align-items: center;
  margin-top: 9rem;
}

.photo {
  height: 60vh;
  margin-top: -6rem;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description h1 a {
  text-decoration: none;
}

.description-button {
  margin-top: 2rem;
  width: 22rem;
  font-size: 1.5rem;
  border-radius: 40px;
  color: var(--primary-color);
  background-color: var(--primary-);
  border-color: var(--primary-color);
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: justify;
  margin-left: 4rem;
}

.description-container h1 a {
  text-decoration: none;
}

@media (max-width: 450px) {
  .page-content-bet {
    flex-direction: column;
  }

  .description-container {
    width: 100%;
    margin-left: 0rem;
  }
  .photos-container {
    justify-content: space-around;
  }
}
